@font-face {
    font-family: "CustomMinecraftFont";
    src: url("font/minecraft.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(26, 26, 26);
    user-select: none;
    font-family: "CustomMinecraftFont", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) url("./img/8406757.gif") center / cover no-repeat;
    background-blend-mode: multiply;
    position: absolute;
}

/*-------------------------------------------------------------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    gap: 2px;
    padding: 3px;
    border-radius: 5px;
    background: #494949;
    margin-right: 20px;
    position: relative;
    z-index: 999;
}

.grid.game-over {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
}

.grid.game-over::after {
    content: 'THE END!';
    color: #d2d2d2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.grid>div {
    --cell-size: min(4.5dvh, 6.5dvw);
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: black;
    border-radius: 2px;
}

.grid>div.ghost {
    background: rgba(0, 0, 0, 0.45);
}

.grid>div.I {
    background-color: #49bffa;
}

.grid>div.O {
    background-color: #ecec00;
}

.grid>div.T {
    background-color: #bf16ff;
}

.grid>div.L {
    background-color: #ff662a;
}

.grid>div.J {
    background-color: #0000ff;
}

.grid>div.Z {
    background-color: #f30000;
}

.grid>div.S {
    background-color: #36dc07;
}

.grid>div.I,
.grid>div.O,
.grid>div.T,
.grid>div.L,
.grid>div.J,
.grid>div.Z,
.grid>div.S {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0),
    inset -2px -2px 1px rgba(0, 0, 0, 0.73);
}

.grid.game-over>div.I,
.grid.game-over>div.O,
.grid.game-over>div.T,
.grid.game-over>div.L,
.grid.game-over>div.J,
.grid.game-over>div.Z,
.grid.game-over>div.S {
    background: rgba(0, 0, 0, 0);
}

/*--------КНОПКИ/MENU-----------------------------------------------------------*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.menu>.menu-info {
    position: absolute;
    top: 3.5%;
}

.menu-info>h1 {
    font-size: 38px;
    justify-self: flex-start;
    margin-bottom: 25px;
    white-space: nowrap;
}

.menu-info>p {
    align-self: flex-start;
    color: #d2d2d2;
    margin-bottom: 20px;
    font-size: 20px;
}

.buttons > button {
    display: block;
    width: 210px;
    height: 50px;
    font-family: "CustomMinecraftFont", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    border: 5px ridge #d2d2d2;
    background: rgb(40 45 27);
    color: #d2d2d2;
    transition: background 0.3s ease, border 0.2s ease, color 0.3s ease;
}

.buttons > button:hover {
    background: rgb(0, 0, 0);
}

.buttons > button:active {
    border: 4px ridge #d2d2d2;
}

.buttons > button:focus {
    outline: none;
}

.buttons > button:not(:last-child) {
    margin-bottom: 15px;
}

#ghost.shadow-on {
    background: rgb(0, 0, 0);
    color: #474747;
}

#start.game-over {
    background: rgb(0, 0, 0);
    color: #474747;
    pointer-events: none;
}

/*------счет и уровень-----------------------------------------------------*/
.count>span,
.level>span {
    margin-left: 10px;
}
