* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a1a1a;
    user-select: none;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    gap: 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: #494949;
    margin-right: 20px;
}

.grid.game-over {
    background-color: rgba(0, 0, 0, 0.6);
}

.grid>div {
    --cell-size: min(4.5vh, 7.5vw);
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: black;
    border-radius: 2px;
}

.grid>div.ghost {
    background-color: rgba(0, 0, 0, 0.45);
}

.grid>div.I {
    background-color: #49bffa;
}

.grid>div.O {
    background-color: #ecec00;
}

.grid>div.T {
    background-color: #bf16ff;
}

.grid>div.L {
    background-color: #ff662a;
}

.grid>div.J {
    background-color: #0000ff;
}

.grid>div.Z {
    background-color: #f30000;
}

.grid>div.S {
    background-color: #36dc07;
}

.grid>div.I,
.grid>div.O,
.grid>div.T,
.grid>div.L,
.grid>div.J,
.grid>div.Z,
.grid>div.S {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0),
    inset -2px -2px 1px rgba(0, 0, 0, 0.73);
}

/*--------КНОПКИ-----------------------------------------------------------*/
.buttons > button {
    display: block;
    width: 100px;
    height: 30px;
}

.buttons > button:not(:last-child) {
    margin-bottom: 15px;
}