@font-face {
    font-family: "CustomMinecraftFont";
    src: url("assets/font/minecraft.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background: rgb(26, 26, 26);
    user-select: none;
    font-family: "CustomMinecraftFont", sans-serif;
    text-transform: uppercase;
    position: relative;
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

.background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) url("assets/img/8406757.gif") center / cover no-repeat;
    background-blend-mode: multiply;
    position: absolute;
}

/*-------------------------------------------------------------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    gap: 2px;
    padding: 4px;
    border-radius: 5px;
    background: #494949;
    position: relative;
    z-index: 999;
}

.grid.game-over {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
}

.grid.game-over::after {
    content: 'THE END!';
    color: #d2d2d2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .grid.game-over::after {
        top: 40%;
    }
}

.grid>.restart {
    display: none;
}

.grid>.new-start {
    display: none;
    font-size: 14px;
    width: 160px;
    height: 45px;
    font-family: "CustomMinecraftFont", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    border: 5px ridge #d2d2d2;
    background: rgb(40 45 27);
    color: #d2d2d2;
    transition: background 0.3s ease, border 0.2s ease, color 0.3s ease;
}

@media screen and (max-width: 600px) {
    .grid.start-new-game>.new-start {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grid.start-new-game {
        background: rgba(0, 0, 0, 0.6);
    }

    .grid.game-over::after {
        font-size: 20px;
    }
    
    .grid.game-over>.restart {
        display: block;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.grid>div {
    --cell-size: min(4.5dvh, 6.5dvw);
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: black;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .grid>div {
        --cell-size-430: min(27px, 30px);
        height: var(--cell-size-430);
        width: var(--cell-size-430);
    }
}

.grid>div.ghost {
    background: rgba(0, 0, 0, 0.45);
}

.grid>div.I {
    background: linear-gradient(135deg, rgba(73,191,250,1) 0%, rgba(73,191,250,1) 49%, rgba(68,133,166,1) 100%);
}

.grid>div.O {
    background: linear-gradient(135deg, rgba(236,236,0,1) 0%, rgba(236,236,0,1) 49%, rgba(181,181,23,1) 100%);
}

.grid>div.T {
    background:  linear-gradient(135deg, rgba(191,22,255,1) 0%, rgba(191,22,255,1) 49%, rgba(133,33,173,1) 100%);
}

.grid>div.L {
    background: linear-gradient(135deg, rgba(255,102,42,1) 0%, rgba(255,102,42,1) 49%, rgba(179,82,46,1) 100%);
}

.grid>div.J {
    background: linear-gradient(135deg, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 49%, rgba(36,36,189,1) 100%);
}

.grid>div.Z {
    background: linear-gradient(135deg, rgba(243,0,0,1) 0%, rgba(243,0,0,1) 49%, rgba(168,30,30,1) 100%);
}

.grid>div.S {
    background: linear-gradient(135deg, rgba(54,220,7,1) 0%, rgba(54,220,7,1) 49%, rgba(60,168,27,1) 100%);
}

.grid>div.I,
.grid>div.O,
.grid>div.T,
.grid>div.L,
.grid>div.J,
.grid>div.Z,
.grid>div.S {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0),
    inset -2px -2px 1px rgba(0, 0, 0, 0.73);
}

.grid.game-over>div.I,
.grid.game-over>div.O,
.grid.game-over>div.T,
.grid.game-over>div.L,
.grid.game-over>div.J,
.grid.game-over>div.Z,
.grid.game-over>div.S {
    background: rgba(0, 0, 0, 0);
}

/*--------MENU-INFO-----------------------------------------------------------*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 20px 25px;
}

@media screen and (max-width: 770px) {
    .menu {
        padding: 20px 0 20px 10px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: row;
        align-items: center;
        padding: 20px 20px 15px;
        height: initial;
        width: 100%;
        align-self: flex-start;
        position: initial;
    }
}

.menu>.menu-info {
    white-space: nowrap;
    z-index: 9;
}

.menu-info>h1 {
    font-size: 38px;
    margin-bottom: 25px;
}

@media screen and (max-width: 770px) {
    .menu-info>h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .menu-info>h1 {
        display: none;
    }
}

.menu-info>p {
    color: #d2d2d2;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 5px;
}

@media screen and (max-width: 770px) {
    .menu-info>p {
        font-size: inherit;
        width: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .menu-info>p {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
    }

    .menu-info>p.level {
        margin-right: 10px;
    }
}

@media screen and (max-width: 375px) {
    .menu-info>p {
        font-size: 14px;
    }

}

/*----------MENU-BUTTONS----------------------------------------------------------------*/
.menu-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-button {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 3px ridge #d2d2d2;
        background: rgb(40 45 27);
        position: relative;
        z-index: 99999;
    }

    .menu-button>span:first-child {
        width: 16px;
        height: 3px;
        background: #d2d2d2;
        position: absolute;
        top: 42%;
        left: -1.5px;
        transform: rotate(90deg);
        transition: transform 0.4s ease;
    }

    .menu-button>span:last-child {
        width: 16px;
        height: 3px;
        background: #d2d2d2;
        position: absolute;
        top: 42%;
        right: -1.5px;
        transform: rotate(90deg);
        transition: transform 0.4s ease;
    }

    .menu-button.open>span:first-child {
        transform: rotate(135deg) translate(-3px, -2px);
    }

    .menu-button.open>span:last-child {
        transform: rotate(45deg) translate(-3.1px, 2px);
    }

}

.menu>.buttons {
    position: absolute;
    top: 40%;
    display: block;
}

@media screen and (max-width: 600px) {
    .menu > .buttons {
        display: none;
    }

    .menu>.buttons.open {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 99999;
        top: 35%;
        left: 0;
    }
}

.buttons > button,
.restart {
    display: block;
    width: 210px;
    height: 50px;
    font-family: "CustomMinecraftFont", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    border: 5px ridge #d2d2d2;
    background: rgb(40 45 27);
    color: #d2d2d2;
    transition: background 0.3s ease, border 0.2s ease, color 0.3s ease;
}

@media screen and (max-width: 770px) {
    .buttons > button {
        width: 160px;
        height: 45px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .buttons > button,
    .restart {
        font-size: 14px;
        width: 160px;
        height: 45px;
    }
}

.buttons > button:hover {
    background: rgb(0, 0, 0);
}

.buttons > button:active {
    border: 4px ridge #d2d2d2;
}

.buttons > button:focus {
    outline: none;
}

.buttons > button:not(:last-child) {
    margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
    .buttons > button:not(:last-child) {
        margin-bottom: 25px;
    }
}


#ghost.shadow-on {
    background: rgb(0, 0, 0);
    color: #474747;
}

#start.game-over {
    background: rgb(0, 0, 0);
    color: #474747;
    pointer-events: none;
}

/*------счет и уровень-----------------------------------------------------*/
.count>span,
.level>span {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {}
.count>span,
.level>span {
    margin-left: 5px;
}

#addedPoints {
    margin-left: 18px;
    opacity: 0;
    transition: opacity 0.6s ease;
}

@media screen and (max-width: 770px) {
    #addedPoints {
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    #addedPoints {
        display: none;
    }
}
/*----------MOBILE MENU----------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
    .background-menu.open {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100dvw;
        height: 100dvh;
        position: absolute;
        z-index: 9999;
    }
}